body
{
  font:1em/1.5em sans-serif;
}
#rectangle1
{
  margin:2em auto;
  background:#FF5047;
  color:white;    
  height:20em;
}
#rectangle2
{
  margin:2em auto;
  color:white;
  height:20em;
}
#left
{
  background:#3EC9D8;
}
#right
{
  background:#FFC447;
}